*{
    margin: 0;
    padding: 0;
    font-family: 'B612', sans-serif;
    /* font-family: 'Nunito', sans-serif; */
}


nav{
    display: flex;
    width: max;
    margin: auto;
    padding: 10px 50px 10px 50px;
    background-color: white;
}

nav a{
    background-color: white;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: rgb(20, 108, 148);
}

.header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: beige;
    /* background-image: url('image/18.jpg');
    background-size: cover;
    background-position: center center; */
}

.info{
    grid-column: 1;
    margin-top: 100px;
    margin-left: 100px;
    width: 650px;
    margin-bottom: 100px;
}
.info h2{
    font-size: 30px;
    padding-bottom: 20px;
}
.info h1{
    font-size: 60px;
    color: rgb(20, 108, 148);
}

.info h3{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px;
    margin-bottom: 30px;
    font-weight: normal;
}

.info a{
    background-color: white;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border-radius: 15px;
	box-shadow: 0 15px 35px rgb(213, 206, 163);
}

.info a:hover{
    color: white;
    background-color: rgb(255, 225, 93);
}

.profil img{
    grid-column: 2;
    width: 70%;
    float: right;
    margin-top: 50px;
    margin-right: 100px;
    margin-bottom: 30px;
    transition: transform 0.5s ease-in-out;
}

.profil img:hover{
    transform: translateY(-20px);
}
.inner{
    padding-top: 20px;
}

.container1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 30px;
    padding: 25px 80px 30px;
    font-size: 15px;
}

.skill-icon1{
    height: 30px;
    border-radius: 5px;
}
.skill-box1{
    margin: auto;
    width: 500px;
    height: 150px;
    padding: 10px;
}

.skill-box1:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}
  
.skill-title1{
    margin-bottom: 15px;
}

/* begin :: skill style */

.sub-title{
    text-align: center;
    color: black;
    padding: 1rem;
    position: relative;
}

.sub-title:after{
    content : '';
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    background-color: rgb(20, 108, 148);
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 30px;
    padding: 25px 80px 80px;
    font-size: 15px;

}

.skill-icon{
    height: 50px;
    border-radius: 5px;
}
.skill-box{
    background-color: beige;
    width: 340px;
    height: 250px;
    border-radius: 20px;
    padding: 20px;
	box-shadow: 0 15px 35px rgb(213, 206, 163);
}

.skill-box:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}
  
.skill-title{
    margin-bottom: 15px;
}

.skill-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  
.skill-percentage1 {
    font-weight: bold;
    width: 90%;
    height: 100%;
    background-color: rgb(255, 225, 93);
    border-radius: 10px;
}
.skill-percentage2 {
    font-weight: bold;
    width: 85%;
    height: 100%;
    background-color: rgb(255, 225, 93);
    border-radius: 10px;
}
.skill-percentage3 {
    font-weight: bold;
    width: 75%;
    height: 100%;
    background-color: rgb(255, 225, 93);
    border-radius: 10px;
}

.skill-percentage4 {
    font-weight: bold;
    width: 80%;
    height: 100%;
    background-color: rgb(255, 225, 93);
    border-radius: 10px;
}

.skill-percentage5 {
    font-weight: bold;
    width: 70%;
    height: 100%;
    background-color: rgb(255, 225, 93);
    border-radius: 10px;
}

.skill-percentage6 {
    font-weight: bold;
    width: 60%;
    height: 100%;
    background-color: rgb(255, 225, 93);
    border-radius: 10px;
}

/* end:skill style*/

/* begin:about style */
.header2{
    background-color: beige;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* background-image: url('image/18.jpg');
    background-size: cover;
    background-position: center center; */
}
.profil2 img{
    width: 250px;
    margin: auto;
    padding: 50px 0 30px 0;
}
.about-me{
    margin: auto;
}
.about-me h2{
    font-size: 25px;
}
.about-me h1{
    font-size: 50px;
    color: rgb(20, 108, 148);
}

.about-me p{
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    padding: 0 200px;
    margin: 20px;
    font-weight: normal;
}

/* end:about style */
  
/* begin:edu style */
.edu-bg{
    background-color: beige;
}
.edu-sub h2{
    margin-top: 30px;
    text-align: center;
    color: rgb(20, 108, 148);
}
.edu-sec{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 50px;
    padding: 25px 80px 80px;
    font-size: 15px;
}

.container2{
    display: flex;
    flex-direction: column;
}

.edu-img{
    margin: auto;
    height: 200px;
}

.edu-box:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}
.edu-title h4{
    margin-top: 10px;
    font-weight: normal;
}

.edu-sec2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 50px;
    padding: 25px 80px 80px;
    font-size: 15px;
}

/* end:edu style */

.inner h2{
    margin-top: 30px;
    text-align: center;
    color: rgb(20, 108, 148);
}
.container3{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 30px;
    padding: 25px 80px 80px;
    font-size: 15px;

}

.org-icon{
    height: 350px;
    border-radius: 5px;
}
.org-box{
    background-color: beige;
    width: 290px;
    height: 605px;
    border-radius: 20px;
    padding: 20px;
	box-shadow: 0 15px 35px rgb(213, 206, 163);
}

.org-box:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}
  
.org-title{
    margin-bottom: 15px;
}

.org-title h3{
    margin-top: 30px;
}
.org-title h4{
    font-weight: normal;
}

/* begin:projek style */
.projek{
    background-color: beige;
}
.row{
    padding: 50px 50px;
    display: flex;
    height: 88%;
    align-items: center;
}
.row2{
    background-color: white;
}
.row4{
    background-color: white;
}
.col{
    flex-basis: 50%;
}

.col1{
    padding-right: 100px;
}

h1{
    color: black;
    font-size: 25px;
}

p{
    color: black;
    font-size: 11px;
    line-height: 18px;
}

.prj-card{
    width: 250px;
    height: 177.78px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
}
.prj-card1-1{
    background-image: url(image/prj1-1.png);
}
.prj-card1-2{
    background-image: url(image/prj1-2.png);
}
.prj-card1-3{
    background-image: url(image/prj1-3.png);
}
.prj-card1-4{
    background-image: url(image/prj1-4.png);
}
.prj-card2-1{
    background-image: url(image/prj2-1.png);
}
.prj-card2-2{
    background-image: url(image/prj2-2.png);
}
.prj-card2-3{
    background-image: url(image/prj2-3.png);
}
.prj-card2-4{
    background-image: url(image/prj2-4.png);
}
.prj-card5-1{
    background-image: url(image/prj5-1.png);
}
.prj-card5-2{
    background-image: url(image/prj5-2.png);
}
.prj-card5-3{
    background-image: url(image/prj5-3.png);
}
.prj-card5-4{
    background-image: url(image/prj5-4.png);
}
.prj-card3{
    width: 150px;
    height: 325px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
}
.prj-card3-2{
    background-image: url(image/prj3-2.png);
}
.prj-card3-3{
    background-image: url(image/prj3-3.png);
}
.prj-card3-4{
    background-image: url(image/prj3-4.png);
}
.prj-card4-1{
    background-image: url(image/prj4-1.png);
}
.prj-card4-2{
    background-image: url(image/prj4-2.png);
}
.prj-card4-3{
    background-image: url(image/prj4-3.png);
}
/* end:projek style */

.more-button a{
    float: right;
    margin-right: 50px;
    background-color: rgb(20, 108, 148);
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border-radius: 15px;
	box-shadow: 0 15px 35px gray;
}

.more-button a:hover{
    color: black;
    background-color: white;
}

.contact-info{
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
    flex-direction: column;
}
.contact-content{
    display:flex ;
}
.contact-card{
    background: white;
    border-radius: 10px;
    padding: 0 40px;
    margin: 30px 40px;
    width: calc(33% - 20px);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
	box-shadow: 0 15px 35px gray;
}
.contact-icon{
    height: 30px;
    margin-bottom: 30px;
}


.blog-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 30px;
    padding: 25px 80px 80px;
    font-size: 15px;

}

.blog-icon{
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.blog-box{
    margin: auto;
    background-color: beige;
    width: 360px;
    height: 450px;
    border-radius: 20px;
    padding: 20px;
	box-shadow: 0 15px 35px rgb(213, 206, 163);
}

.blog-box:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}
  
.blog-title{
    margin-bottom: 15px;
}
p{
    margin-bottom: 10px;
}
.blog-box a{
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.blog-box a:hover{
    color: rgb(20, 108, 148);
}