*{
    margin: 0;
    padding: 0;
    font-family: 'B612', sans-serif;
    /* font-family: 'Nunito', sans-serif; */
}


nav{
    display: flex;
    width: max;
    margin: auto;
    padding: 10px 50px 10px 50px;
    background-color: white;
    flex-direction: row-reverse;
}

nav a{
    background-color: white;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: rgb(20, 108, 148);
}

.header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: beige;
    /* background-image: url('image/18.jpg');
    background-size: cover;
    background-position: center center; */
}

.info{
    grid-column: 1;
    margin-top: 100px;
    margin-left: 100px;
    width: 650px;
    margin-bottom: 100px;
}
.info h2{
    font-size: 30px;
    padding-bottom: 20px;
}
.info h1{
    font-size: 60px;
    color: rgb(20, 108, 148);
}

.info h3{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px;
    margin-bottom: 30px;
    font-weight: normal;
}

.info a{
    background-color: white;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border-radius: 15px;
	box-shadow: 0 15px 35px rgb(213, 206, 163);
}

.info a:hover{
    color: white;
    background-color: rgb(255, 225, 93);
}

.profil img{
    grid-column: 2;
    width: 70%;
    float: right;
    margin-top: 50px;
    margin-right: 100px;
    margin-bottom: 30px;
    transition: transform 0.5s ease-in-out;
}

.profil img:hover{
    transform: translateY(-20px);
}
.inner{
    padding-top: 20px;
}

/* begin :: skill style */

.sub-title{
    text-align: center;
    color: black;
    padding: 1rem;
    position: relative;
}

.sub-title:after{
    content : '';
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    background-color: rgb(20, 108, 148);
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 30px;
    padding: 25px 80px 80px;
    font-size: 15px;

}

.skill-icon{
    height: 50px;
    border-radius: 5px;
}
.skill-box{
    background-color: beige;
    width: 340px;
    height: 250px;
    border-radius: 20px;
    padding: 20px;
	box-shadow: 0 15px 35px rgb(213, 206, 163);
}

.skill-box:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}
  
.skill-title{
    margin-bottom: 15px;
}

.skill-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  
.skill-percentage1 {
    font-weight: bold;
    width: 90%;
    height: 100%;
    background-color: rgb(255, 225, 93);
    border-radius: 10px;
}
.skill-percentage2 {
    font-weight: bold;
    width: 85%;
    height: 100%;
    background-color: rgb(255, 225, 93);
    border-radius: 10px;
}
.skill-percentage3 {
    font-weight: bold;
    width: 75%;
    height: 100%;
    background-color: rgb(255, 225, 93);
    border-radius: 10px;
}

.skill-percentage4 {
    font-weight: bold;
    width: 80%;
    height: 100%;
    background-color: rgb(255, 225, 93);
    border-radius: 10px;
}

.skill-percentage5 {
    font-weight: bold;
    width: 70%;
    height: 100%;
    background-color: rgb(255, 225, 93);
    border-radius: 10px;
}

.skill-percentage6 {
    font-weight: bold;
    width: 60%;
    height: 100%;
    background-color: rgb(255, 225, 93);
    border-radius: 10px;
}

/* end:skill style*/

/* begin:about style */
.header2{
    background-color: beige;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* background-image: url('image/18.jpg');
    background-size: cover;
    background-position: center center; */
}
.profil2 img{
    width: 250px;
    margin: auto;
    padding: 50px 0 30px 0;
}
.about-me{
    margin: auto;
}
.about-me h2{
    font-size: 25px;
}
.about-me h1{
    font-size: 50px;
    color: rgb(20, 108, 148);
}

.about-me p{
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    padding: 0 200px;
    margin: 20px;
    font-weight: normal;
}

/* end:about style */
  

